*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: beige;
}

.nav-enlace{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid black;
}

.nav-enlace:hover{
    background: rosybrown;
}   

nav{
    display: flex;
    background: rebeccapurple;
    padding: 10px;
    justify-content: space-around;
}

.nav-button{
    background: salmon;
    color: white;
    padding: 10px 0;
    border: 2px solid black;
    display: none;
}

.carrousel{
    width: 100%;
    max-width: 100%;
    padding: 2em;
}

.carrousel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .img{
    width: calc(100%/3 - 2em);
    min-height: 10vh;
}

.carrousel .points{
    width: 100%;
    margin: 1em 0 0;
    padding: 4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .point{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
}

.carrousel .point.activo{
    background-color: orange;
}


@media (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
        text-align: center;
    }

    .nav-button{
        display: inline-block;
    }

}
