@import 'reset/variables', 'reset/mixins' , 'reset/reset' ,'reset/keyframes';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: beige;
}


.nav-enlace{
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid black;
}

.nav-enlace:hover{
    background: rosybrown;
}   

nav{
    display: flex;
    background: rebeccapurple;
    padding: 10px;
    justify-content: space-around;
}

.nav-button{
    background: salmon;
    color: white;
    padding: 10px 0;
    border: 2px solid black;
    display: none;
}

.carrousel{
    flex-basis: 50%;
    padding-top: 10px;
    color: black;
    text-align: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    @include neo( 1 , 1em , 1em );
}

.carrousel h1{
    font-size: 32px;
    line-height: .9;

}

.carrousel .grande{
    width: 310%;
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include neo( 1 , 1em , 1em );


    transition: all .5s ease;
    transform: translateX(0%);
}

.carrousel .img{
    width: calc(100%/3 - 2em);
    min-height: 80vh;
    @include neo( 1 , 1em , 1em );

}

.carrousel .points{
    width: 100%;
    margin: 1em 0 0;
    padding: 4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .point{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    @include neo( 1 , 1em , .6em );

}

.carrousel .point.activate{
    background-color: orange;
}

.imagen{
    width: 15%;
    padding: auto;
}

.proyecto{
    text-align: center;
    display: block;
    padding:15px;
    justify-content: space-around;
}

.name h1{
    text-align: center;
    padding: auto;
    background: antiquewhite;
}

.objetivo h1{
    padding: auto;
    background: antiquewhite;
}

.objetivo p{
    background: aliceblue;
}

.motivacion h1{
    padding: auto;
    background: antiquewhite;
}

.motivacion p{
    background: aliceblue;
}



@media (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
        text-align: center;
    }

    .nav-button{
        display: inline-block;
    }

    .desaparece{
        display: none;
    }

}
